<h1>{{titlelayout | titlecase }}</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-3 col-lg-3 " *ngFor="let data of datalist;" [@liststate]="data.state">
      <div class="cardcontainer" (mouseover)="data.state= 'active'" (mouseout)="data.state = 'inactive'">
        <mat-card class="example-card ">
          <a [href]="data.link" target="_blank">
            <img mat-card-image [src]="data.linkimage" alt="Photo of a Shiba Inu" width="300" height="200">
          </a>
          <mat-card-content *ngIf="!offcontent">
            <h3>{{data.title}}</h3>
            <div>
              <p>
                {{data.timeperiod}}
              </p>
              <p data-reactid="25">
                {{data.description }}
              </p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>
</div>
<!-- [@liststate]="data.state" -->
<!-- (mouseover)="data.state= 'active'"
(mouseout)="data.state = 'inactive'" -->
<!-- (mouseover)="data.state === 'active' ? data.state ='inactive' :  data.state='active' " -->