<div class="col-12 col-lg-8">
  <div class="overviewmain">
    <div class="overheader">
      <h1> {{'overview' | titlecase}}</h1>
    </div>
    <div class="iconspan">
      <a href="https://github.com/icezatoo" target="_blank" style=" color: #3f4042;">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</div>
<div class="col-12">
  <p>Hi, I'm ice </p>
  <p> web developer with 2 years' experience building products for with a Software house and company present i'm developer Software
    with Car industry Japen company and i'm A technology enthusiast </p>
</div>